<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TeacherInsertController</servlet-name>
  	<display-name>TeacherInsertController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.TeaherInsertController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherUpdateController</servlet-name>
  	<display-name>TeacherUpdateController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.TeacherUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherDeleteController</servlet-name>
  	<display-name>TeacherDeleteController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.TeacherDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherShowAllController</servlet-name>
  	<display-name>TeacherShowAllController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.TeacherShowAllController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectAddController</servlet-name>
  	<display-name>SubjectAddController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.SubjectAddController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectDeleteController</servlet-name>
  	<display-name>SubjectDeleteController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.SubjectDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectShowAllController</servlet-name>
  	<display-name>SubjectShowAllController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.SubjectShowAllController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectUpdateController</servlet-name>
  	<display-name>SubjectUpdateController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.SubjectUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClasInsertController</servlet-name>
  	<display-name>ClasInsertController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.ClasInsertController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClasUpdateController</servlet-name>
  	<display-name>ClasUpdateController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.ClasUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClasDeleteController</servlet-name>
  	<display-name>ClasDeleteController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.ClasDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClasShowAllController</servlet-name>
  	<display-name>ClasShowAllController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.ClasShowAllController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentInsertController</servlet-name>
  	<display-name>StudentInsertController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.StudentInsertController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentUpdateController</servlet-name>
  	<display-name>StudentUpdateController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.StudentUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentDeleteController</servlet-name>
  	<display-name>StudentDeleteController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.StudentDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentShowAllController</servlet-name>
  	<display-name>StudentShowAllController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.StudentShowAllController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentInsertController</servlet-name>
  	<display-name>AssignmentInsertController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.AssignmentInsertController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentShowAllController</servlet-name>
  	<display-name>AssignmentShowAllController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.AssignmentShowAllController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentUpdateController</servlet-name>
  	<display-name>AssignmentUpdateController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.AssignmentUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentDeleteController</servlet-name>
  	<display-name>AssignmentDeleteController</display-name>
  	<description></description>
  	<servlet-class>school_management_web.AssignmentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherInsertController</servlet-name>
  	<url-pattern>/TeacherInsertController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherUpdateController</servlet-name>
  	<url-pattern>/TeacherUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherDeleteController</servlet-name>
  	<url-pattern>/TeacherDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherShowAllController</servlet-name>
  	<url-pattern>/TeacherShowAllController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectAddController</servlet-name>
  	<url-pattern>/SubjectAddController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectDeleteController</servlet-name>
  	<url-pattern>/SubjectDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectShowAllController</servlet-name>
  	<url-pattern>/SubjectShowAllController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectUpdateController</servlet-name>
  	<url-pattern>/SubjectUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClasInsertController</servlet-name>
  	<url-pattern>/ClasInsertController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClasUpdateController</servlet-name>
  	<url-pattern>/ClasUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClasDeleteController</servlet-name>
  	<url-pattern>/ClasDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClasShowAllController</servlet-name>
  	<url-pattern>/ClasShowAllController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentInsertController</servlet-name>
  	<url-pattern>/StudentInsertController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentUpdateController</servlet-name>
  	<url-pattern>/StudentUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentDeleteController</servlet-name>
  	<url-pattern>/StudentDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentShowAllController</servlet-name>
  	<url-pattern>/StudentShowAllController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentInsertController</servlet-name>
  	<url-pattern>/AssignmentInsertController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentShowAllController</servlet-name>
  	<url-pattern>/AssignmentShowAllController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentUpdateController</servlet-name>
  	<url-pattern>/AssignmentUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentDeleteController</servlet-name>
  	<url-pattern>/AssignmentDeleteController</url-pattern>
  </servlet-mapping>
</web-app>
